:root {
  /* FONTS */
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;

  --regular: 400;
  --medium: 500;
  --bold: 700;

  --text-base: 18px;
  --text-sm: 14px;
  --text-xs: 10px;

  /* COLOURS */
  --veryDarkGray: hsl(0, 0%, 17%);
  --darkGray: hsl(0, 0%, 59%);
}